@import "./theme.css";

footer {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--text-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 90%;
  padding: 38px 0;
}

footer .container .part-one {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

footer .container .part-one img {
  width: 100px;
  margin-right: 8px;
}

footer .container .part-one p {
  width: 100%;
  margin-left: 8px;
  padding: 8px 0 8px 16px;
  border-left: 3px solid var(--text-color);
}

footer .container .part-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container .part-two img {
  width: 35px;
}

footer .container .part-two .copy-right {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

@media (max-width: 900px) {
  footer .container .part-one img {
    width: 80px;
  }
}
