body {
  --accent-color: #000000;
  --background-color: #ffffff;
  --text-color: rgb(0, 0, 0);
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: #ffffff;
  --background-color: #000;
  --text-color: #ffffff;
}

.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
  width: 20%;
}

.theme-toggle-button .icon {
  margin-right: 0.5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}
